
.container {
    background-color: rgba(0, 255, 0, 0.2);
  display: grid;
  grid-template-rows: 50px 50px 100px 50px 50px 70px 30px;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
}



.navigatetop {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 7;
  grid-column-end: 2;
}


.product-dropdown-baslik {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}
.editorspick .men button {
  background-image: url('/assets/images/asaprocky.jpg'); /* resim yolu */
  background-size: cover;      /* resmi butona tam sığdır */
  background-position: center; /* ortala */
  color: white;                /* yazı rengini görünür yap */
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
}

.editorspick .women button {
  background-image: url('/assets/images/kristinefroseth.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
}

.editorspick .accessories button {
  background-image: url('/images/accessories-bg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
}

.editorspick .kids button {
  background-image: url('/assets/images/childmodel.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
}

.socialsandinfo > div {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

